body{
    background: linear-gradient(-45deg, #ff4d6d, #ff8fab, #cdb4db, #a2d2ff);
    background-size: 400% 400%;
    animation: gradientMove 10s ease infinite;
    font-family: 'Poppins', sans-serif;
    text-align:center;
}

@keyframes gradientMove {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}


h1{
    margin-top:40px;
}

.green{
    color:#7CFC00;
}

.card{
    background:white;
    color:black;
    width:350px;
    margin:40px auto;
    padding:30px;
    border-radius:15px;
    position:relative;
}

.gif{
    width:150px;
}

.buttons{
    margin-top:20px;
    position:relative;
    height:80px;
}

button{
    padding:10px 20px;
    border:none;
    border-radius:50px;
    cursor:pointer;
    font-size:16px;
    position:absolute;
}

.yes{
    background:#ff4d6d;
    color:white;
    left:30%;
}

.no{
    background:#999;
    color:white;
    left:55%;
}

